/problema1/TestEstudiante/nbproject/private/
/problema1/TestEstudiante/build/
/problema2/TestProfesores/nbproject/private/
/problema2/TestProfesores/build/
/problema2/TestAutomotor/nbproject/private/
/problema2/TestAutomotor/build/
/problema2/TestCheque/nbproject/private/
/problema2/TestCheque/dist/
/problema2/TestCheque/build/
/problema4/JavaApplication22/nbproject/private/
/problema4/TestCheque/nbproject/private/
/problema4/TestCheque/build/
/problema4/TestCheque/dist/
/problema3/TestAutomotor/nbproject/private/
