/problema1/TestEstudiante/nbproject/private/
/problema1/TestEstudiante/build/
/problema2/TestProfesores/nbproject/private/
/problema2/TestProfesores/build/
/problema2/TestAutomotor/nbproject/private/
/problema2/TestAutomotor/build/
